*{
    box-sizing: border-box;
}
/*
?Zona Cabecera-------------------------------------------------------------------------------
*/
body{
	font-family: 'Titillium Web', sans-serif;
}
 
#barra{
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    background-color:#f7f7f5;
    max-width: 1500px;
}

.box_1{
    justify-content: center;  
    width: 50%;
    display: flex;
}

.box_1 .logo_1{ 
    width: 50%;
    text-align: right;
}

.box_1 .logo_2{
    width: 90%;
    text-align: left;
}

#box_2{
	width: 50%;
	display: flex;
	flex-direction: row-reverse;

}

.box_login-redes{
	width: 40%;
}

/*-----login------*/

#login{
	width: 100%;
	margin-bottom: 20%;
	display: flex;
	justify-content: center;
}

/*-----DivCabeceraRedes-------*/
.redes{
	width: 80%;
	justify-content: center ;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.redes i{
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
	background: #314662;
	color: #f1f1f1;
}
/*---Buscador---*/



.field {
  display:flex;
  position:realtive;
  margin-top:50px;
  padding-right:30px;
  width:100%;
  flex-direction:row;
  
}

.field>input[type=text], .field>button {
  display:block;
  font:15px 'Montserrat Alternates';
  border-radius: 10px;
}

.field>input[type=text] {
  flex:1;
  padding:5px;
  border:0.2em solid rgba(26, 188, 156, 0.363);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgba(0, 136, 247, 0.774);
  color:white;
  border:none;
}
    
/*
?Navegacion----------------------------------------------------------------------------------
*/
.navegacion{
    padding: 10px 1px;
   width: 100%;
   background-color: white;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-right: 50px;
   
}

.link{
    font-size: 18px;
   text-decoration: none;
   margin: 1%;
   color: black;
}

.link:hover, .link:active {
   text-decoration: underline;
   font-size: 110%;
   color: rgba(3, 58, 123, 0.74);
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    margin-right: 40px;  
}

/*
?Zona de identidad---------------------------------------------------------------------------
*/
#identidad{
    width: 101.5%;
    height: 500px;
	background: url(../imgs/Promociones-para-el-dia-de-la-madre-1200x900.jpg) no-repeat right top;
	background-size: 100% 100%;
}

.banner{
	background-color: rgba(255, 255, 255, 0.28);
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner_text{
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
    
}

.banner_title-1{

   line-height: 0%;
	font-size: 2em;
	color: rgb(121, 15, 15);

}

.banner_title-2{
	font-size: 3em;
	color: #ffffff;
	
}

.text{
	font-size: 1em;
	color: #000000;
}

.bannerlink{
	width: 25%;
	background:  #ff3535;
	color: #ffffff;
	text-decoration: none;
	padding: 20px 30px;
	border-radius: 10px;
	text-align: center;
}


/*
?Presentacion--------------------------------------------------------------------------------
*/


#presentacion_ubicacion{
	padding-left: 50px;
    width: 100%;
	background-color:#e29f8a07;
	margin-top: 20px;
    display: flex;
    gap: 40px;
}

.box_empresa{
    width: 50%;

}
#presentacion h2{
    
    font-size: 30px;
}
.box_infoempresa{
    width: 100%;
    margin-left: 15%;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}

.box_infoempresa p{
    font-size: 18px;
    max-width: 500px;
}


/* 
?Ubicacion-----------------------------------------------------------------------------------
*/
#ubicacionempre{
	padding: 10px;
    width: 45%;
 
}

.box_ubi{
    width: 50%;
}

.box_ubi h2{
    padding-left: 12px;
    
}

.box_ubicacion{
    width: 90%;
}

.box_ubicacion img{
    width: 90%;
    height: 100%;
}


/*
?Servicios-----------------------------------------------------------------------------------
*/
#servicios{
    width: 100%;
    background-color:#e29f8a07;
    margin-top: 10px;
    padding: 50px;
    position: relative;
    
}
.tit{
    font-size: 32px;
    text-decoration: none;
    color: #000000;
}

.box_serv .link{
    width: 50%;
    text-decoration: none;
    
}

#servicios h2{
    margin-bottom: 30px;
    font-size: 30px;
    width: 100%;
}

.box_servicios{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.box_serv{
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: justify;
    margin-left: 25px;
    width: 41%;
   
}

.box_serv a{
    text-decoration: none;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.932);
    margin-top: 10px;
    font-size: 18px;
}

.box_serv .fa-solid{
    font-size: 25px;
}

.box_parrafo{
    width: 70%;
    font-size: 17px;
}

/*
?Pie de Pagina-------------------------------------------------------------------------------
*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-color: #969dad3d;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.box_footer .logo img{
    width: 150px;
}

.box_footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #303030;
    font-size: 17px;
}

.box_footer h2{
    margin-bottom: 30px;
}

.box_footer a{
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.932);
}

.box_footer .terms a{
    align-content: center;
}

.box_footer a:hover{
    font-size: 17px;
}

.box_footer a .fa-brands{
    font-size: 25px;
}

.box_copyright{
    text-align: center;
    background-color: darkolivegreen;
    padding: 15px;
    color: white;
}

