/*Nosotros*/
.Nosotros{
    
    background-color:rgba(250, 235, 215, 0);
    
}
.Nosotros img{
   
    top: 20px;
}
.Nosotros p{
   
   top: 50px;
   left: 700px;
}


.h1Nos{
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 2px 10px;
    background-color: #087e8bee;
    margin-bottom: 50px;
}

.h1Nos h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.h2Nos{

    margin-bottom: 2px;
    background-color: antiquewhite ;
}

.containerCobertura{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    text-align: justify;
}

.imgCobertura{
    width: 50%;
    padding-left: 30px;
}

.parraCobertu{
    width: 50%;
}

.parraCobertu p{
    font-size: 20px;
    margin-top:10%;
    padding-right:100px;
}

.mision_vision{
    display: flex;
    margin-bottom: 100px;
}

.mision_vision h3{
    font-size: 22px;
    padding-left: 3%;
}

.img2{
    text-align: center;
}

 .Mision p{
    font-size: 20px;
    top: 550px;
    left: 20px;
    padding-left: 3%;
 }

.Vision p{
    font-size: 20px;
    top: 750px;
    left: 20px;
    padding-left: 3%;
}
.img2 img{
    width: 49.7%;
    height: 400px;
    
    top: 46.5%;
    left: 650px;
}