/*
?Main
*/
.container_main{
    width: 100%;
    
}

.box_title{
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 2px 10px;
    background-color: #087e8bee;
}

.box_title h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.banner_Pserv{
    background-image: url(/imgs/Pink_flower_frame_background_with_watercolor.jpg);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}

.title_banner b{
    color: rgb(134, 77, 77);
    font-size: 50px;
}

.title_banner{
    margin: 0px 10px;
    text-align: center;
}

.info_banner{
    margin: 0 10px;
}

.info_banner p{
    font-size:  20px;
    color: rgb(134, 77, 77);
}

.box__info{
    width: 100%;
    margin: 5px 10px;
    padding: 15px;
}

.box__info p{
    padding: 5px 15px;
}

.box_delivery{
    width: 100%;
}

._title{
    width: 80%;
    padding: 15px;
    margin-left: 10%;
   
}

._title h2{
    box-shadow: rgba(81, 91, 99, 0.322) 0px 1px 2px 0px, rgba(0, 255, 13, 0.514) 0px 1px 3px 1px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.boxservice_delivery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    max-width: 1500px;
    margin-bottom: 150px;
}

.article{
    padding: 10px;
    background-color: rgba(0, 68, 255, 0.589);
    box-shadow: rgba(0, 0, 0, 0.712) 0px 25px 50px -12px;
    margin: 10px;
}

.article h3{
    color: white;
    font-size: 22px;
}

.article p{
    width: 100%;
    color: white;
    font-size: 16px;
}

.boxservice_gestion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    max-width: 1500px;
    margin-bottom: 150px;
}

.boxservice_gestion article{
    margin: 10px;
}

.box_noencontro{
    justify-content: center;
    text-align: center;
    justify-items: center;
    border-radius: 25px;
    width: 80%;
    margin-left: 11%;
    box-shadow: rgba(68, 68, 206, 0.25) 0px 30px 60px -12px inset, rgba(46, 59, 175, 0.3) 0px 18px 36px -18px inset;
}

.box_noencontro .termss{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #303030;
    font-size: 22px;
   
    border-radius: 25px;
}

.box_noencontro .termss a{
    justify-content: left;
   color: black;
}

