* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;

}

/* HEADER O NAV*/
nav {
    display: flex;
    justify-content: space-between;
    /*en ves de float: right en navpadre*/
    height: 100px;
    background-color: #13d575;
    /* align-items: center; */
    padding: 10px;
    width: 100%;
}

.logo {
    /* display: flex; */
    /* align-items: center;  */
    line-height: 80px;
    padding: 0 100px;

}

.logo img {
    height: 60px;
}

.NavPadre {
    margin-right: 20px;
}

.NavPadre li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.NavPadre a {
    color: white;
    font-size: 17px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}

/*Checkbtn*/
.checkbtn {
    font-size: 30px;
    color: blue;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* NAVS  */
.NavPadre {
    text-align: right;
    height: 10px;
}

nav a {
    font-weight: 550;
    padding-right: 10px;
    transition: all .4s ease-in-out;
}

nav a:hover {
    color: #000ba5;
}

.navDerecha {
    display: block;
}

.navDerecha2 {
    display: flex;
    align-items: center;
}

/*Redes sociales, Delivery y footer iconos*/
.RedesSociales,
.DeliveryIconos {
    font-size: 15px;
}
.DeliveryIconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

}

.RedesSociales a{
    padding: 7px;
    margin: 4px;
    background: #262d6a;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 300ms ease;


}

.RedesSociales a:hover {
    /* transform: scale(0.9); */
    color: aqua;
}

/*Buscar*/
.buscar {
    position: relative;
}

input {
    width: 200px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
}

.buscar button {
    background-color: #262d6a;
    padding: 10px 15px;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
}

.buscar button:hover {
    color: aqua;    
}

/*Slider*/
.SliderContainer {
    width: 100%;
    /* background-image: url('./imgs/SliderFondo.jpg'); */
    background-color: #f5f5f5;
    background-size: cover;
    /* Estira la imagen para que cubra todo el div */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-position: center;
    /* Centra la imagen dentro del div */

}

.SliderSon {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

.SliderSon ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 300%;
    animation: cambio 8s infinite;
    animation-direction: alternate;
}

.SliderSon li {
    list-style: none;
    width: 100%;
}

.SliderSon img {
    width: 100%;
    display: block;
    /* Elimina el espacio que deja img como inline-block */
    margin: 0;
    padding: 0;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    35% {
        margin-left: 0;
    }

    40% {
        margin-left: -100%;
    }

    60% {
        margin-left: -100%;
    }

    65% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}

/*Slide*/

/* Cuerpo */
.GridContainer {
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 80px 500px;
}

.TitulosH2Main {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(4, 10, 164, 0.1);
    /* background-color: forestgreen; */
    margin: 20px;
}
/*Tal parece que no hay problema que el padre de esta clase sea grid, esta clase mandaditos puede ser declarada como display flex*/
.TitulosH2Main.Mandaditos,
.TitulosH2Main.Ubicacion,
.TitulosH2Main.Delivery,
.TitulosH2Main.Gpersonal {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}


.centrado {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.Servicios {
    grid-column: 1/3;
}

.TitulosH2Main h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}


.CuerpoImagen {
    margin-top: 1px;
    width: 650px;
    /* Que ocupe todo el ancho del bloque */
    height: 300px;
    /* Mantiene proporción de la imagen */
    object-fit: contain;
    border-radius: 8px;
    /* Esquinas redondeadas como el bloque */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Igual que el contenedor */
}

/* Footer */

.pie-pagina {
    width: 100%;
}

.pie-pagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    /*45 pixeles hacia arriba y 0 pixeles hacia los costados*/

}

.pie-pagina .grupo1 .box figure {
    /*Dentro de la clase box que esta dentro de la clase grupo1 que esta dentro de la clase pie-pagina buscaremos la etiqueta figure*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /*centrando horizontalmente*/
    align-items: center;
    /*centrando verticalmente*/
}

.pie-pagina .grupo1 .box figure img {
    width: 250px;

}

.pie-pagina .grupo1 .box h2 {
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo1 .box p {
    color: black;
    margin-bottom: 10px;

}

.pie-pagina .grupo1 .redSocial a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #262d6a;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 5px;
    /*le daremos transision a todos los elementos en 300 milisegunods y con efecto ease*/

}

.pie-pagina .grupo1 .redSocial a:hover {
    color: aqua;
}

.pie-pagina .grupo2 {
    background-color: #bd102d;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo2 small {
    font-size: 15px;
}

/* Media Queries when mobile*/
@media(max-width: 1000px) {

    .checkbtn {
        display: inline-block;
        position: absolute;
        right: 20px;
        color: #262d6a;
    }

    .NavPadre {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }

    .NavPadre a {
        margin: 5px 0;
        line-height: 30px;
    }


    #check:checked~.navDerecha .NavPadre {
        left: 0;

    }

    body.no-scroll {
        overflow: hidden;
        height: 100vh;
    }


    .RedesSociales {
        display: none;
    }

    .buscar {
        display: none;
    }

    nav {
        justify-content: space-between;
        padding: 0 10px;
    }

    .logo {
        height: 40px;
        margin-bottom: 5px;
    }

    /*Cuerpo*/
    .GridContainer {
        grid-template-columns: 1fr;
        /* Una sola columna */
        grid-template-rows: auto;
    }

    .Servicios {
        grid-column: 1;
        /* Ya no necesita ocupar 2 columnas */
    }

    .CuerpoImagen {
        max-width: 95%;
        height: auto;
    }

    .pie-pagina .grupo1 {
        width: 90%;
        grid-template-columns: 1fr;
        /* Una sola columna en pantallas pequeñas */
        grid-gap: 30px;
        padding: 35px 0px;

    }

    .pie-pagina .grupo1 .box {
        margin-bottom: 20px;
        /* Espacio entre las cajas */
    }
}
